<div class="container mt-2 mb-2">
  <div class="row">
    <div class="col-sm-10">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Shopping App - Register</h3>
        </div>
        <div class="card-body">
          <form
            [formGroup]="form"
            autocomplete="off"
            (submit)="completeRegistration()"
          >
            <div class="form-group row">
              <div class="col-sm-6">
                <label>Register as a</label>
                <select
                  class="form-control"
                  formControlName="userType"
                  (change)="onUserTypeChange()"
                >
                  <option value="">--Select--</option>
                  <option
                    *ngFor="let item of userType"
                    [ngValue]="item.value"
                    >{{ item.text }}</option
                  >
                </select>
                <ng-container
                  *ngIf="registerFormControl.userType.touched || isSubmitted"
                >
                  <span
                    class="text-danger"
                    *ngIf="registerFormControl.userType.errors?.required"
                  >
                    User type is required
                  </span>
                </ng-container>
              </div>
              <div class="col-sm-6" *ngIf="typeOfUser() === 'seller'">
                <label>Business size</label>
                <select class="form-control" formControlName="businessSize">
                  <option value="">--Select--</option>
                  <option
                    *ngFor="let item of businessSize"
                    [ngValue]="item.value"
                    >{{ item.text }}</option
                  >
                </select>
                <ng-container
                  *ngIf="
                    registerFormControl.businessSize.touched || isSubmitted
                  "
                >
                  <span
                    class="text-danger"
                    *ngIf="registerFormControl.businessSize.errors?.required"
                  >
                    Business size is required
                  </span>
                </ng-container>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <label>Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  maxlength="120"
                  placeholder="Name"
                />
                <ng-container
                  *ngIf="registerFormControl.name.touched || isSubmitted"
                >
                  <span
                    class="text-danger"
                    *ngIf="registerFormControl.name.errors?.required"
                  >
                    Name is required
                  </span>
                </ng-container>
              </div>
              <div class="col-sm-6">
                <label>Email</label>
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  maxlength="30"
                  placeholder="Name"
                />
                <ng-container
                  *ngIf="registerFormControl.email.touched || isSubmitted"
                >
                  <span
                    class="text-danger"
                    *ngIf="registerFormControl.email.errors?.required"
                  >
                    Email is required
                  </span>
                </ng-container>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <label>Password</label>
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  maxlength="30"
                  placeholder="********"
                />
                <ng-container
                  *ngIf="registerFormControl.password.touched || isSubmitted"
                >
                  <span
                    class="text-danger"
                    *ngIf="registerFormControl.password.errors?.required"
                  >
                    Password is required
                  </span>
                  <span
                    class="text-danger"
                    *ngIf="registerFormControl.password.errors?.invalidPassword"
                  >
                    Password should contain atleast 6 characters, at least 1
                    uppercase letter, 1 lowercase letter and 1 number
                  </span>
                </ng-container>
              </div>
              <div class="col-sm-6">
                <label>Confirm Password</label>
                <input
                  type="password"
                  class="form-control"
                  formControlName="confirmPassword"
                  maxlength="30"
                  placeholder="********"
                />
                <ng-container
                  *ngIf="
                    registerFormControl.confirmPassword.touched || isSubmitted
                  "
                >
                  <span
                    class="text-danger"
                    *ngIf="registerFormControl.confirmPassword.errors?.required"
                  >
                    Confirm password is required
                  </span>
                  <span
                    class="text-danger"
                    *ngIf="
                      registerFormControl.confirmPassword.errors
                        ?.passwordMismatch
                    "
                  >
                    Passwords doesn't match
                  </span>
                </ng-container>
              </div>
            </div>
            <hr />
            <div class="form-group row">
              <div class="col-sm-12">
                <button class="btn btn-primary float-right" type="submit">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
