<div class="container mt-80">
  <h1 class="display-3">Hello, {{ activeUser.name }}!</h1>
  <p class="lead">
    Sale is live and you can purchase from any of these categories.
  </p>
  <hr class="my-4" />

  <div class="row mt-2 mb-5">
    <div class="col-4">
      <div class="card">
        <img
          class="card-img-top"
          src="assets/buyer/fashion.jpg"
          alt="Card image"
          style="width: 100%;"
        />
        <div class="card-body">
          <h4 class="card-title">Fashion</h4>
          <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
          <a
            href="javascript:void(0)"
            class="btn btn-outline-primary btn-sm text-uppercase"
            >View Fashion</a
          >
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img
          class="card-img-top"
          src="assets/buyer/computer.jpg"
          alt="Card image"
          style="width: 100%;"
        />
        <div class="card-body">
          <h4 class="card-title">Computers & Laptops</h4>
          <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
          <a
            href="javascript:void(0)"
            class="btn btn-outline-primary btn-sm text-uppercase"
            >View Computers</a
          >
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img
          class="card-img-top"
          src="assets/buyer/phone.jpg"
          alt="Card image"
          style="width: 100%;"
        />
        <div class="card-body">
          <h4 class="card-title">Mobile Phones</h4>
          <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
          <a
            href="javascript:void(0)"
            class="btn btn-outline-primary btn-sm text-uppercase"
            >Mobile Phones</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
